<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Checker</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>

<body>
    <main class="container">
        <div class="card">
            <div class="icon">
                ✨
            </div>
            <h1>Zodiac Checker</h1>
            <p class="subtitle">
                Discover your zodiac sign and uncover what the stars say about you.
            </p>
            <form action="/zodiac" method="POST">

                <div class="form-group">

                    <label for="dob">Your Date of Birth</label>

                    <input type="date" id="dob" name="dob" required>

                </div>

                <button type="submit" class="zodiac-btn">
                    Find My Zodiac
                </button>

            </form>
        </div>

    </main>

</body>

</html>